body{
  font-family: 'Noto Serif JP', serif;
}

/* アンカーリンク時のズレ防止 */
.contents{
  padding-top: 100px;

}

.contents_innner{

  display: block;
    padding-top: 100px;
    margin-top:-100px;
}



.bg-img {
  background: url(img/cranes1.jpg) center;
  background-size: 40%;
}
.m-title{
  font-weight: bold;
}

/* Facebook */
.facebook-wrapper {
  max-width: 500px; /* Facebook Page Plugin の最大幅 */
  margin: 0 auto;
}

.facebook-wrapper > .fb-page {
  width: 100%;
}

.facebook-wrapper > .fb-page > span,
.facebook-wrapper iframe {
  width: 100% !important;
}

/* // 大デバイス（デスクトップ, 1200px 未満） */
br.sp { display: none; }

@media (min-width: 992px) {
  br.sp { display: none; }
  .title {
    font-size: 2rem;
  }
  .text {
    font-size: 1rem;
  }
}
/* // 中デバイス（タブレット, 992px 未満） */

@media (max-width: 991.98px) {
  br.sp { display: none; }
  .title {
    font-size: 1.5rem;
  }
  .text {
    font-size: 1rem;
  }
  .mini-text{
    font-size: 0.8rem;
  }
}
/* // 小デバイス（横向きモバイル, 768px 未満） */

@media (max-width: 767.98px) {
  br.sp { display: none; }
  .title {
    font-size: 1.3rem;
  }
  .text {
    font-size: 1rem;
  }
  .mini-text{
    font-size: 1rem;
  }

}
/* @include media-breakpoint-up(sm) { */
/* // 極小デバイス（縦向きモバイル, 576px 未満） */

@media (max-width: 575.98px) {
  br.sp { display: inline; }
  .m-title {
    font-size: 2rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .text {
    font-size: 1.5rem;
  }

  /* @include media-breakpoint-up(sm) { */
/* // 極小デバイス（縦向きモバイル, 400px 未満） */

@media (max-width: 399.98px) {

  br.sp { display: inline; }

  .m-title {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .text {
    font-size: 1.5rem;
  }
}
}